<%- include('partials/head', { title, description, canonicalUrl, ogImage }) %>
<%- include('partials/header', { pageTitle: '404 - Sayfa Bulunamadı', siteName }) %>
<main>
  <p>Üzgünüz, aradığınız sayfa bulunamadı.</p>
</main>
<%- include('partials/footer', { siteName }) %>
