<%- include('partials/head', { title, description, canonicalUrl, ogImage }) %>
<%- include('partials/header', { pageTitle: 'Hakkımızda', siteName }) %>
<main>
  <div class="banner-3d">
    <div class="cube">
      <div class="face front">Development</div>
      <div class="face back">Development</div>
      <div class="face right">Development</div>
      <div class="face left">Development</div>
      <div class="face top">Development</div>
      <div class="face bottom">Development</div>
    </div>
  </div>
  <p>Biz, abantari.com bünyesinde sizin için modern, hızlı ve şık çözümler üreten dinamik bir ekibiz.</p>
</main>
<%- include('partials/footer', { siteName }) %>
