<%- include('partials/head', { title, description, canonicalUrl, ogImage }) %>
<%- include('partials/header', { pageTitle: 'Hoşgeldiniz!', siteName }) %>
<main>
  <div class="banner-3d">
    <div class="cube">
      <div class="face front">Development</div>
      <div class="face back">Development</div>
      <div class="face right">Development</div>
      <div class="face left">Development</div>
      <div class="face top">Development</div>
      <div class="face bottom">Development</div>
    </div>
  </div>
  <p>Bu site, abantari.com alan adınız altında barındırabileceğiniz, HTML, CSS ve JavaScript ile hazırlanmış modern ve esnek bir statik web şablonudur.</p>
</main>
<%- include('partials/footer', { siteName }) %>
