<%- include('partials/header', { title, description, keywords, headerTitle: 'Hata' }) %>
<main>
  <h2>404 - Sayfa Bulunamadı</h2>
  <p>Üzgünüz, aradığınız sayfa bulunamadı.</p>
</main>
<%- include('partials/footer') %>