<%- include('partials/header', { title, description, keywords, headerTitle: 'Sunucu Hatası' }) %>
<main>
  <h2>500 - Sunucu Hatası</h2>
  <p>Üzgünüz, sunucuda bir hata oluştu.</p>
</main>
<%- include('partials/footer') %>