<%- include('partials/header', { title, description, keywords, headerTitle }) %>
<main>
  <% if (success) { %>
    <div id="success-message">Mesajınız gönderildi!</div>
  <% } else { %>
    <form id="contact-form" action="<%= staticForm ? ('mailto:' + contactEmail) : '/contact' %>" method="<%= staticForm ? 'GET' : 'POST' %>">
      <label for="name">Adınız:</label>
      <input type="text" id="name" name="name" required />
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required />
      <label for="message">Mesajınız:</label>
      <textarea id="message" name="message" rows="5" required></textarea>
      <button type="submit">Gönder</button>
    </form>
  <% } %>
</main>
<%- include('partials/footer') %>